@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body {
      background-color: #222026;
      color: #938068;
      font-size: 4rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 95vh;
      font-family: 'SF Pro Display', sans-serif;
}


h4 {
      font-family: 'IBM Plex Serif', serif;
      color: #DDDFD9;
      font-size: 3rem;
      font-weight: 400;
      width: 100%;
      text-transform: uppercase;
}