@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:400,500,600,700&display=swap');

body {
      align-items: center;
      background-color: #222026;
      display: flex;
      flex-direction: row;
      height: 95vh;
      justify-content: center;
}


h1 {
      color: #938068;
      font-family: "IBM Plex Serif", serif;
      font-size: 3rem;
      font-weight: 600;
      text-transform: uppercase;
}